
<span><img src = "{{images}}" alt= "planet-img" class = "profilePlanet"> </span>
<span class = "content">
  <h3>{{planet}}</h3>
  <ul>
    <li>Diameter: {{diameter}}km</li><br>
    <li>Moons: {{moons}}</li><br>
    <li>Distance from the Sun: {{distanceFromSun}} million km</li>
  </ul>
</span>
  <button>Edit facts</button>

